<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=localhost;Initial Catalog=Uyelik;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Spor_Salonu.Properties.Settings.Salon_uyelikConnectionString"
   connectionString="Data Source=DESKTOP-R8PK08I;Initial Catalog=&quot;Salon uyelik&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Spor_Salonu.Properties.Settings.UyelikBilgiConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=UyelikBilgi;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>